create table Employees(Empno number(3),ename varchar2(20),
sal number(7,2),
 DOJ date,
 Dptno varchar2(4),
 Noe number(5)
 );


 insert into Employees values(1,'Mina',8000,'15-May-2017','D1',3);
 insert into Employees values(2,'Snehal',5000,'15-Jun-2019','D2',5);
 insert into Employees values(3,'Akku',5000,'20-Jul-2011','D3',7);

